/* Page structure */
.main_menu {
    width: 230px;
    min-height: calc( (100vh) - 100px );
    background-color: black;
    float: left;
}

.bottom_controls {
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
}

.upgrade_account {
    width: calc(100% - 230px);
    height: 100px;
    background-color: red;
    float: left;
}

.main_container { 
    width: 100%;
    height: calc(100% - 100px);
    background-color: green;
}
/* /Page structure */

/* Main menu */
.main_menu .site_logo img {
    width: 65%;
    margin: 20px;
}

.menu_icons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.menu_icons img {
    width: 25px;
    margin: 5px;
}

.menu_icons a {
    vertical-align: middle;
}

/* Utilities */
.gray {
    color: #717171;
}